


/* DEBUG */

/* .border{
    border: 1 px solid red:
} */

.yellow{
    background-color: yellow;
}

.blue{
    background-color: blue;
}

.red{
    background-color: red;
}

.pink{
    background-color: pink;
}

.green{
    background-color: green;
    z-index: -5;
}
/* / debug */

/* REUSABLE */

.header{
    
    border: 1px solid black;
    background-color: bisque;
    z-index:5;
}



/* 
#profiles,
{
    overflow-y: scroll;
} */

#bck-container{
    background-color: green;
    height:100vh;

}


