<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- googlefont -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300&display=swap" rel="stylesheet">
    <!-- css -->
    <link rel="stylesheet" href="css1/style.css">
    <!-- fontawesome -->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.3/css/all.css" integrity="sha384-SZXxX4whJ79/gErwcOYf+zWLeJdY/qpuqC4cAa9rOGUstPomtqpuNWT9wdPEn2fk" crossorigin="anonymous">
    <title>boolz1</title>
</head>
<body>
    <div id="vue-container">

        <!-- bck-green and grey -->
        <div id="bck-wrapper">
            <div id="green-bck"></div>
            <div id="grey-bck"></div>
        </div>
        <!-- /bck-wrapper -->


        <div id="general-container">

            <!-- left-side: contacts -->
            <div id="contacts">

                <!-- contacts-header -->
                <div id="contacts-header" class="header">
                    
                    <div class="photo-holder">
                    <img src="https://cdn.pixabay.com/photo/2015/09/02/13/24/girl-919048__340.jpg" alt="Profilo User"> Caterina Franceschetti
                    </div>

                    <div id="contacts-nav">
                        <i class="fas fa-circle-notch"></i>
                        <i class="fas fa-comment-alt"></i>
                        <i class="fas fa-ellipsis-v"></i>
                    </div>
                </div>

                <!-- contacts-main -->
                <div id="contacts-main">
                    <!-- beginn. notice -->
                    <section id="notice">
                        <!-- icon -->
                        <div class="i-wrapper">
                            <i class="far fa-bell-slash"></i>
                        </div>
                        <!-- text -->
                        <div id="notice-text">
                            <p id="nt1"> Ricevi notifiche di nuovi messaggi.</p>
                            <p id="nt2" class="text-grey"> Attiva notifiche deskop</p>
                        </div>

                    </section>
                    <!-- /notice -->

                    <!-- search amongst contacts -->
                    <section id="contacts-search" class="search">

                        <div id="allBar">

                            <!-- icon -->
                            <div id="wrap-iconBar" class="i-wrapper">
                                <i class="fas fa-search"></i>
                            </div>

                            <input id="input-search" type="text" placeholder="Cerca o inizia una nuova chat">

                        </div>
                        <!-- /allBar -->

                    </section>
                    <!-- /contacts-search -->

                    <!-- profile -->
                    <section id="profiles">
                    
                        <ul>
                            <li v-for="(contact,index) in contacts" @click="activingContact(index)">
                                <img v-bind:src="contact.photo" alt="contact.name">
                                <span>{{contact.name}}</span>
                            </li>
                        </ul>
                    </section>
                    <!-- /profile -->

                </div>
                <!-- /contacts-main -->

            </div>
            <!-- /left-side: contacts -->

            <!-- right-side: CONTACT's messages -->
            <div id="contact-chat">

                <!-- mess-header -->
                <div id="chat-header" class="header">
                    <!-- visible profile -->
                    <div id="chatHeader-profVis" class="flex">
    
                            <div class="photo-holder">
                                <img :src="contacts[contactVisible].photo" alt="contacts[contactVisible].name">
                            </div>
    
                            <!-- text -->
                            <div id="contChat-text">
                                <p> {{contacts[contactVisible].name}}</p>
                                <p id="last" class="text-grey"> Ultimo accesso oggi alle </p>
                            </div>
                        </div>
                        
                    <!-- /prof-vis -->

                    <!-- nav -->
                    <div id="contChat-nav" class="flex">
                        <i class="fas fa-search text-grey"></i>
                        <i class="fas fa-paperclip text-grey"></i>
                        <i class="fas fa-ellipsis-v text-grey"></i>
                    </div>


                </div>
                <!--/ mess-header -->

                <!-- reading space -->
                <section id="chat-reading">

                    <div id="text-box" v-for="mess in contacts[contactVisible].messages" :class="mess.status">
                        <p>{{mess.date}}</p>
                        <p>{{mess.text}}</p>
                    </div>

                    
                </section>
                <!-- /reading space -->

                <!-- chat-writing -->
                <section id="chat-writing">

                    <i class="fas fa-smile text-grey"></i>

                    <input id="writing-bar" type="text" placeholder="scrivi un messaggio">

                    <i class="fas fa-microphone text-grey"></i>


                </section>
                <!-- /chat-writing -->



            </div>
            <!-- /right-side: contact's messages -->
        </div>
        <!-- general-container -->

    </div>
    <!-- /container-vue -->


    <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>

    <script src="js/script.js"></script>

    <script src="https://unpkg.com/dayjs@1.8.21/dayjs.min.js"></script>
    <script>dayjs().format()</script>
</body>
</html>